<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thanks for creating the listing <%= @user.email %>!</p>
    <p>You created a listing named <%= @listing.name %> and it costs $<%= @listing.price %>.</p>
  </body>
</html>